@model PF_LAB3_BSIT32A2_Cherry_Quino.Models.Card

@{
    ViewData["Title"] = "Card Details";
}

<h1>Card Details</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Rarity</dt>
        <dd class="col-sm-10">@Model.Rarity</dd>

        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.CharacterImageUrl))
            {
                <img src="@Model.CharacterImageUrl" alt="@Model.Name" style="height:150px;" />
            }
            else
            {
                <em>No image provided</em>
            }
        </dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
